# Automatically created by mypy

src/__pycache__
.mypy_cache
venv/lib/python3.8/site-packages/__pycache__
venv/lib/python3.8/site-packages/flake8/__pycache__
venv/lib/python3.8/site-packages/mypy/__pycache__
venv/lib/python3.8/site-packages/pip/__pycache__